.logo{
    width: 120px !important;
    height: auto !important;
}

#myNavbar{
    background-color: #7BB094 !important;
}

.menu-links{
    display: flex;
   align-items: center;
   margin-top: 5px;
   padding: 20px;
}

.w3-card img{
    height: 200px;
    width: auto;
}

.imagen-hero{
    margin-top: 80px;
    width: 100%;
    margin-bottom: 80px;
} 
